## Question
{{ question }}

{% if title %}
## Change title
{{ title }}
{% endif %}
{% if issue %}
## Issue being addressed
{{ issue.reference }}{% if issue.title %} - {{ issue.title }}{% endif %}
{% if issue.labels %}
labels: {{ issue.labels | join(", ") }}
{% endif %}
{% if issue.body %}
{{ issue.body }}
{% endif %}
{% if issue.comments %}
### Discussion
{% for comment in issue.comments %}
- {{ comment }}
{% endfor %}
{% endif %}
{% endif %}
{% include "discussion_context.jinja2" %}
{% if repo_context %}
## Repository conventions
{{ repo_context }}
{% endif %}

## The change

{% for file in files %}
### {{ file.path }}{% if file.language %} [{{ file.language }}]{% endif %}

```diff
{{ file.rendered }}
```
{% endfor %}
